{% extends "front/base.html" %}
{% load static %}
{% block konten %}
  <section class="shop_section layout_padding">
    <div class="container">
      <div class="box">
        <div class="detail-box">
          <h2>
            Fruit shop
          </h2>
          <p>
            There are many variations of passages of Fruit available
          </p>
        </div>
        <div class="img-box">
          <img src="{% static 'style/images/shop-img.jpg' %}" alt="">
        </div>
        <div class="btn-box">
          <a href="{% url 'login'%}">
            Login Now
          </a>
        </div>
      </div>
    </div>
    <br><br><br><br>
  <!-- end shop section -->

  <!-- about section -->

  <section class="about_section">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-6 px-0">
          <div class="img-box">
            <img src="{% static 'style/images/about-img.jpg' %}" alt="">
          </div>
        </div>
        <div class="col-md-5">
          <div class="detail-box">
            <div class="heading_container">
              <hr>
              <h2>
                About Our Fruit Shop
              </h2>
            </div>
            <p>
             Menjual banyak Variasi Buah di toko ini
            </p>
            <a href="{% url 'buah'%}">
              Klik disini untuk Melihat
            </a>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- end about section -->

  <!-- fruit section -->

  <section class="fruit_section layout_padding">
    <div class="container">
      <div class="heading_container">
        <hr>
        <h2>
          Fresh Fruit
        </h2>
      </div>
    </div>
    <div class="container-fluid">

      <div class="fruit_container">
        <div class="box">
          <img src="{% static 'style/images/f-1.jpg' %}" alt="">
          <div class="link_box">
            <h5>
              Orange
            </h5>
            <a href="{% url 'buah'%}">
              Buy Now
            </a>
          </div>
        </div>
        <div class="box">
          <img src="{% static 'style/images/f-2.jpg' %}" alt="">
          <div class="link_box">
            <h5>
              Blueberry
            </h5>
            <a href="{% url 'buah'%}">
              Buy Now
            </a>
          </div>
        </div>
        <div class="box">
          <img src="{% static 'style/images/f-3.jpg' %}" alt="">
          <div class="link_box">
            <h5>
              Banana
            </h5>
            <a href="{% url 'buah'%}">
              Buy Now
            </a>
          </div>
        </div>
        <div class="box">
          <img src="{% static 'style/images/f-4.jpg' %}" alt="">
          <div class="link_box">
            <h5>
              Apple
            </h5>
            <a href="{% url 'buah'%}">
              Buy Now
            </a>
          </div>
        </div>
        <div class="box">
          <img src="{% static 'style/images/f-5.jpg' %}" alt="">
          <div class="link_box">
            <h5>
              Mango
            </h5>
            <a href="{% url 'buah'%}">
              Buy Now
            </a>
          </div>
        </div>
        <div class="box">
          <img src="{% static 'style/images/f-6.jpg' %}" alt="">
          <div class="link_box">
            <h5>
              Strawberry
            </h5>
            <a href="{% url 'buah'%}">
              Buy Now
            </a>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- end fruit section -->


  <!-- client section -->

  <section class="client_section layout_padding-bottom">
    <div class="container ">
      <div class="heading_container">
        <h2>
       Us {{user}}
        </h2>
        <hr>
      </div>
      <div id="carouselExample2Controls" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <div class="client_container layout_padding-top">
              <div class="img-box">
                <img src="{% static 'user.png' %}" alt="">
              </div>
              <div class="detail-box">
                <h5>
                  Raihan Nabil
                </h5>
                <p>
                  <img src="{% static 'style/images/left-quote.png' %}" alt="">
                  <span>
                    Universitas Muhammdiyah Kalimantan Timur
                  </span>
                  <img src="{% static 'style/images/right-quote.png' %}" alt=""> <br>
                  Mata Kuliah Web Lanjut
                </p>
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <div class="client_container layout_padding-top">
              <div class="img-box">
                <img src="{% static 'user.png' %}" alt="">
              </div>
              <div class="detail-box">
                <h5>
                  Raihan Nabil
                </h5>
                <p>
                  <img src="{% static 'style/images/left-quote.png' %}" alt="">
                  <span>
                    Universitas Muhammdiyah Kalimantan Timur
                  </span>
                  <img src="{% static 'style/images/right-quote.png' %}" alt=""> <br>
                  Mata Kuliah Web Lanjut
                </p>
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <div class="client_container layout_padding-top">
              <div class="img-box">
                <img src="{% static 'user.png' %}" alt="">
              </div>
              <div class="detail-box">
                <h5>
                 Raihan Nabil
                </h5>
                <p>
                  <img src="{% static 'style/images/left-quote.png' %}" alt="">
                  <span>
                    Universitas Muhammdiyah Kalimantan Timur
                  </span>
                  <img src="{% static 'style/images/right-quote.png' %}" alt=""> <br>
                  Mata Kuliah Web Lanjut
                </p>
              </div>
            </div>
          </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExample2Controls" role="button" data-slide="prev">
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExample2Controls" role="button" data-slide="next">
          <span class="sr-only">Next</span>
        </a>
      </div>

    </div>
  </section>

  <!-- end client section -->


  <!-- contact section -->
  <section class="contact_section layout_padding-bottom">
    <div class="container-fluid">
      <div class="row">
        <div class="offset-lg-2 col-md-10 offset-md-1">
          <div class="heading_container">
            <hr>
            <h2>
              <a href="{%url 'about'%}">Detail Profile</a>
            </h2>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- end contact section -->


  <!-- info section -->

  <section class="info_section layout_padding">
    <div class="container">
      <div class="info_logo">
        <h2>
          Raihan 
        </h2>
      </div>
      <div class="info_contact">
        <div class="row">
          <div class="col-md-4">
            <a href="">
              <img src="{% static 'style/images/location.png' %}" alt="">
              <span>
                Samarinda
              </span>
            </a>
          </div>
          <div class="col-md-4">
            <a href="">
              <img src="{% static 'style/images/call.png' %}" alt="">
              <span>
                Call : +629895707457242
              </span>
            </a>
          </div>
          <div class="col-md-4">
            <a href="">
              <img src="{% static 'style/images/mail.png' %}" alt="">
              <span>
               2011102441080@umkt.ac.id
              </span>
            </a>
          </div>
        </div>
      </div>
      <div class="row">
          </div>
        </div>
        <center >
        <div class="col-1">
          <div class="info_social">
            <div>
              <a href="">
                <img src="{% static 'style/images/facebook-logo-button.png' %}" alt="">
              </a>
            </div>
            <div>
              <a href="">
                <img src="{% static 'style/images/twitter-logo-button.png' %}" alt="">
              </a>
            </div>
            <div>
              <a href="">
                <img src="{% static 'style/images/linkedin.png' %}" alt="">
              </a>
            </div>
            <div>
              <a href="">
                <img src="{% static 'style/images/instagram.png' %}" alt="">
              </a>
            </div>
          </div>
        </div>
      </center>
      </div>

    </div>
  </section>

  <!-- end info section -->


  <!-- footer section -->
  {% endblock konten %}