{% extends "front/base.html" %}
{% load static %}
{% block konten %}
    <div class="container">
        <div class="card">
            <div class="body">
                <form method="POST">
                    {% csrf_token %}
                    <div class="mb-3">
                      <label  class="form-label">Kategori</label>
                      <select name="kategori" id="" class="form-control">
                        {% for kategori in kategori   %}
                            {% if get_produk.kategori == kategori %}
                                <option value="{{ kategori.nama }}" selected="selected">{{kategori.nama}}</option>
                            {% else %}
                                <option value="{{ kategori.nama }}" >{{kategori.nama}}</option>
                            {% endif %}
                        {% endfor %}    
                      </select>
                    
                    </div>
                    <div class="mb-3">
                      <label for="exampleInputPassword1" class="form-label">Nama</label>
                      <input type="text" class="form-control" name="nama" value ="{{get_produk.nama}}">
                    </div>
                    <div class="mb-3">
                      <label for="exampleInputPassword1" class="form-label">Jumlah</label>
                      <input type="text" class="form-control" name="jumlah" value ="{{get_produk.jumlah}}">
                    </div>
                    <div class="mb-3">
                      <label for="exampleInputPassword1" class="form-label">harga</label>
                      <input type="text" class="form-control" name="harga" value ="{{get_produk.harga}}">
                    </div>
                  
                    <p class="image_upload">
                      <label for="userImage">
                      </label>
                      <input type="file" name="userImage" id="userImage">
                    </p>
                    <button type="submit" class="btn btn-primary">Submit</button>
                  </form>
                </div>
            </div>
        </div>

{% endblock konten %}